.foo {
    color: red;
}

.foo-bar {
    color: orange;
}

.foo-bar__baz {
    color: rebeccapurple;
}

.foo-bar__baz--foo {
    color: yellow;
}

@media (min-width: 300px) {
    .foo {
        color: green;
        background-color: blue;
    }

    .foo-bar {
        color: red;
    }

    .foo-bar__baz {
        color: greenyellow;
    }

    .foo-bar__baz--foo {
        color: olive;
    }
}
